/*body{
	background-image: url('virat.jpg');
	background-repeat:no repeat ;
	background-size: cover;
}
boxborder-me {
  box-shadow: 0 0 0 5px firebrick;
  outline: dashed 5px darkturquoise;
}*/
/*body {
  background-color:white;
}

.abc {
  width:200px;
  height:200px;
  overflow: hidden;
}
.corners {
  box-sizing:border-box;
  position: relative;
  background-color: gold;
  height: 200px;
  width: 200px;
  border: solid gold 10px;
}
 .bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  
}

.top:before, .top:after, .bottom:before, .bottom:after{
  content:" ";
  position:absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: solid grey 7px;
  border-radius: 20px; 
}

.top:before {
  top:-35px;
  left:-35px;
  
}

.top:after {
 top: -35px;
 right: -35px;
 box-shadow: inset 1px 1px 1px grey;
}
.bottom:before {
  bottom:-35px;
  left:-35px;
}

.bottom:after {
 bottom: -35px;
 right: -35px; 
 box-shadow: inset 1px 1px 1px grey;
}*/

.a{
	background-color: red;
	height:400px;
	width:800px;
}
.b{
			background: white;
			height:300px;
			width:200px;
			float: left;
			margin-top: 40px;
			margin-left: 50px;
		}
.c{
	background: white;
			height:300px;
			width:200px;
			float: left;
			margin-top: 40px;
			margin-left: 40px;
}
.d{
	background: white;
			height:300px;
			width:200px;
			float:right;
			margin-top: 40px;
			margin-right:80px;
}
